<div id="check">
  <%= image_tag("redhouse.png", :alt => "housecall icon", :id => "icon") %>
  <%= form_tag("/logs", method: "post", action: "logs") do %>
    <h1 align="center">House Call</h1>
    <%= submit_tag("Get Humidity", :id => "show")%>
  <% end %>
</div>
<div id="logs">
  <h1 align="center">Humidity Over Time</h1>
  <table id="myTable">
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.date %></td>
        <td><%= log.humidity %></td>
      </tr>
    <% end %>
      <tr>
        <td>23-May-08</td>
        <td>.01</td>
      </tr>
      <tr>
        <td>27-May-08</td>
        <td>.02</td>
      </tr>
      <tr>
        <td>30-May-08</td>
        <td>.03</td>
      </tr>
      <tr>
        <td>01-Jun-08</td>
        <td>.04</td>
      </tr>
  </table>
</div>